.number {
  display: grid;
  grid-template-columns: var(--segment-w) var(--segment-l) var(--segment-l) var(--segment-w);
  grid-template-rows: var(--segment-w) var(--segment-l) var(--segment-l) var(--segment-w) var(--segment-l) var(--segment-l) var(--segment-w);
  grid-template-areas: 
         ". top top . "
    "left-top . . right-top"
    "left-top . . right-top"
         ". mid mid ."
    "left-bot . . right-bot"
    "left-bot . . right-bot"
         ". bot bot .";
}

.number-pairs {
  display: flex;
  gap: 1rem;
}

div.on {
  background-color: var(--on-color);
}

.bar {
  background-color: var(--off-color);
}

.barA {
  grid-area: top;
}

.barB {
  grid-area: right-top;
}

.barC {
  grid-area: right-bot;
}

.barD {
  grid-area: bot;
}

.barE {
  grid-area: left-bot;
}

.barF {
  grid-area: left-top;
}

.barG {
  grid-area: mid;
}


#clock {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.separator > p {
  display: flex;
  font-size: 150px;
  padding-bottom: 25px;
  color: var(--on-color)
}

.am-pm {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  padding-right: 50px;
  color: var(--on-color);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.am-pm p {
  font-size: 20px;
}