* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {

  --off-color: #131313;

  --on-color: #1ce601;
  --secondary-color: #202021;
  --segment-l: 45px;
  --segment-w: 12px;
}

#root {

  width: 100vw;
  height: 100vh;

  /* for testing/previewing */
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color: var(--secondary-color);

}