* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --clock-font: 'Orbitron', monospace;

  --off-color: #131313;

  --on-color: #1ce601;
  --secondary-color: #222020;
  --segment-l: 45px;
  --segment-w: 12px;
}

#root {

  width: 100vw;
  height: 100vh;

  /* for testing/previewing */
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color: var(--secondary-color);

  background: radial-gradient(circle, var(--secondary-color) 0%, #000000 100%);

}