.segment-line {
  width: var(--segment-line-width);
  height: var(--segment-height);

  background-color: var(--primary-color);
}

.outer {
  height: 0; 
  border-left: var(--segment-s1-width) solid transparent;
  border-right: var(--segment-s2-width) solid transparent;
}
/* arrow up, the left and right (no colors) borders make up the sides, bottom is the bottom (colored) */
/* bottom/top show the triangle.. cool */

.segment-top {
  border-bottom: var(--segment-line-width) solid var(--primary-color)
}

.segment-bottom {  
  border-top: var(--segment-line-width) solid var(--primary-color);
}